.auto-styleheading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: italic;
}
.head{
    width: 99%;
}

.head img{
    float: left;
    width: 20%;
}

.head nav{
    float: right;
    width: 32%;
    padding-top: 20px;
}